<div id="main">

	<div id="left">
		<p>Add an item:</p>
		<p>What: <input type="text" ng-model="name"></p>
		Where: <select ng-model="place">
		<option value="Yard" selected>Yard</option>
		<option value="Living Room">Living Room</option>
		<option value="Kitchen">Kitchen</option>
		<option value="Bathroom">Bathroom</option>
		<option value="Bedroom">Bedroom</option>
		</select>							
		<p>The item is: {{name}}</p>
		<p>The place is: {{place}}</div>


	<div id="right">
	<section ng-init="tab = 1">
		<ul class="nav nav-tabs">
		<li ng-class="{ active:tab === 1 }"><a href ng-click="tab = 1">Yard</a></li>
		<li ng-class="{ active:tab === 2 }"><a href ng-click="tab = 2">Living Room</a></li>
		<li ng-class="{ active:tab === 3 }"><a href ng-click="tab = 3">Kitchen</a></li>
		<li ng-class="{ active:tab === 4 }"><a href ng-click="tab = 4">Bathroom</a></li>
		<li ng-class="{ active:tab === 5 }"><a href ng-click="tab = 5">Bedroom</a></li>
		</ul>
	</section>
	<div class="panel" ng-show="tab === 1">
		<b>There are <%= @yard.count %> items in the yard</b>
		<ul>
		<% @yard.each do |yard| %> 
		<li><%= yard.item %></li>
		<% end %> 
		</ul>
	</div>
	<div class="panel" ng-show="tab === 2">
		<b>There are <%= @living.count %> items in the living room</b>
		<ul>
		<% @living.each do |living| %> 
		<li><%= living.item %></li>
		<% end %> 
		</ul>
	</div>
	<div class="panel" ng-show="tab === 3">
		<b>There are <%= @kitchen.count %> items in the kitchen</b>
		<ul>
		<% @kitchen.each do |kitchen| %> 
		<li><%= kitchen.item %></li>
		<% end %> 
		</ul>
	</div>
	<div class="panel" ng-show="tab === 4">
		<b>There are <%= @bath.count %> items in the bathroom</b>
		<ul>
		<% @bath.each do |bath| %> 
		<li><%= bath.item %></li>
		<% end %> 
		</ul>
	</div>
	<div class="panel" ng-show="tab === 5">
		<b>There are <%= @bed.count %> items in the bedroom</b>
		<ul>
		<% @bed.each do |bed| %> 
		<li><%= bed.item %></li>
		<% end %> 
		</ul>
	</div>
	</div>
	<div id="clear_left"></div>
</div>